.cs-container {
    position: relative;
    display: flex;
    gap: 2vw;
}

.imgFluid {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.imgHolder:hover {
    width: 37%;
    transition: 200ms;
}

.imgHolder {
    position: relative;
    width: 35%;
    height: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 2%;
}

.darkOverlay {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    height: 100%;
    width: 100%;
    z-index: 99;
    border-radius: 2%;
}

.custom-btn1 {
    border: 1px solid #0f75bd;
    position: absolute;
    top: 90%;
    left: 38%;
    background-color: #000;
    z-index: 100;
}

.custom-btn1:hover {
    background-color: transparent;
    transition: 200ms;
}

.custom-btn2 {
    position: absolute;
    top: 105%;
    left: 36.5%;
    border: none;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
    cursor: text;
}

a {
    color: #0f75bd;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    font-size: large;
    transition: 200ms;
}

@media (min-width: 1025px) {
    .cs-container {
        margin: 2%;
        text-align: center;
    }

    .custom-btn1 {
        border: 1px solid #0f75bd;
        width: 100%;
        height: 70px;
        top: 65%;
        left: 0%;
        text-transform: capitalize;

    }

    .custom-btn2 {
        border: none;
        background-color: transparent;
        color: #fff;
        width: 100%;
        height: 80px;
        position: absolute;
        top: 93%;
        left: 0%;
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media (min-width: 800px) and (max-width: 1024.999px) {
    .cs-container {
        margin: 2%;
        text-align: center;
    }

    .custom-btn1 {
        width: 100%;
        height: 60px;
        top: 65%;
        left: 0%;

    }

    .custom-btn2 {
        border: none;
        background-color: transparent;
        color: #fff;
        width: 100%;
        height: 40px;
        position: absolute;
        top: 93%;
        left: 0%;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 6%;
    }
}

@media (max-width: 399.999px){
    .cs-container {
        display: block;
        margin: 2%;
        text-align: center;
    }

    .imgHolder {
        position: relative;
        width: 50%;
        left: 25%;
        margin-top: 12%;
    }

    .custom-btn1 {
        border-radius: 15px;
        width: 100%;
        height: 30px;
        position: absolute;
        top: 60%;
        left: 0%;
    }

    .custom-btn2 {
        background-color: transparent;
        width: 100%;
        height: 40px;
        top: 90%;
        left: 0%;
        padding-bottom: 10px;
        margin-top: 8%;
        font-size: small;
    }

}
@media (min-width: 400px) and (max-width: 651.399px) {
    .cs-container {
        display: block;
        margin: 2%;
        text-align: center;
    }
    .imgHolder:hover {
        width: 55%;
    }
    
    .imgHolder {
        position: relative;
        width: 50%;
        left: 25%;
        margin-top: 6%;
    }

    .custom-btn1 {
        border-radius: 15px;
        width: 100%;
        height: 40px;
        position: absolute;
        top: 65%;
        left: 0%;
    }

    .custom-btn2 {
        background-color: transparent;
        width: 100%;
        height: 40px;
        top: 93%;
        left: 0%;
        padding-bottom: 10px;
        margin-top: 6%;
        font-size: small;
    }
}

@media (min-width: 651.4px) and (max-width: 799.999px) {
    .cs-container {
        margin: 2%;
        text-align: center;
    }

    .imgHolder {
        margin-top: 6%;
    }

    .custom-btn1 {
        width: 100%;
        height: 40px;
        top: 65%;
        left: 0%;

    }

    .custom-btn2 {
        border: none;
        background-color: transparent;
        color: #fff;
        width: 100%;
        height: 40px;
        position: absolute;
        top: 93%;
        left: 0%;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 10%;
    }
}