.margin {
    margin-left: auto;
    font-family: "Abel", 'Courier New', Courier, monospace;
    font-size: 1.35rem;
    font-weight: bold;
}

.bg-color {
    background-color: #ffffff;
}

.nav-item {
    cursor: pointer;
}

@media (max-width: 991.9px) {
    .collapse {
        position: absolute;
        z-index: 2;
        top: 110px;
        right: 40px;
        text-align: right;
        background-color: hsl(0, 10%, 6%, 0.40);
    }
    .nav-link{
        color: #fff;
    }
}